<!doctype html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
  <title>{{ if .IsPage }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
  <link rel="icon" href="{{ "favicon.ico" | absURL }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <meta property="og:title" content="{{ if .IsPage }}{{ .Title }} - {{ end }}{{ .Site.Title }}">
  <meta property="og:type" content="{{ if .IsPage }}article{{ else }}blog{{ end }}">
  <meta property="og:url" content="{{ .Permalink }}">
  {{ if .IsPage }}
  <meta property="og:description" content="{{ .Summary }}" />
  {{ end }}
  <meta name="twitter:card" content="summary" />

  <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/syntax.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/theme.css">
</head>
<body>
<header class="mdc-top-app-bar" style="top: 0px;">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <span class="mdc-top-app-bar__title"><a href="{{ .Site.BaseURL }}" class="title-link">{{ .Site.Title }}</a></span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
      <a href="https://twitter.com/kuluna" class="mdc-top-app-bar__action-item mdc-icon-button">
        <img src="{{ .Site.BaseURL }}images/twitter.png" />
      </a>
      <a href="https://github.com/kuluna" class="mdc-top-app-bar__action-item mdc-icon-button">
        <img src="{{ .Site.BaseURL }}images/github.png" />
      </a>
      <a href="https://qiita.com/kuluna" class="mdc-top-app-bar__action-item mdc-button">Qiita</a>
    </section>
  </div>
</header>
