{{ $ctx := . }}
{{ partial "header.html" . }}

<main>
  <article class="mdc-card mdc-elevation--z6 default-padding">
    <header>
      <h1 class="entry-title">{{ .Title }}</h1>
      <p class="entry-date">{{ .Date }}</p>
      <p>
        Categories:
        {{ range .Params.categories }}
          <a href="{{ $ctx.Site.BaseURL }}categories/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </p>
      <!-- share SNS -->
      <div class="socials">
        <!-- twitter -->
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="kuluna">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <!-- pocket -->
        <a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="en">Pocket</a>
        <script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
      </div>
    </header>

    <p>{{ .Content }}</p>

  </article>
</main>

{{ partial "footer.html" . }}
