{{ $ctx := . }}
{{ partial "header.html" . }}

<main class="mdc-top-app-bar--fixed-adjust">
  <article class="mdc-card mdc-elevation--z6 default-padding">
    <header>
      <h1 class="entry-title">{{ .Title }}</h1>
      <p class="entry-date">{{ .Date }}</p>
      <p>
        Categories:
        {{ range .Params.categories }}
          <a href="{{ $ctx.Site.BaseURL }}categories/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </p>
      <!-- share SNS -->
      <div class="socials">
        <!-- Web share -->
        <button id="button_share" style="visibility: hidden;" class="mdc-button" onclick="share()">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">Share</span>
        </button>
        <script>
          window.addEventListener('load', function() {
            if (navigator.share) {
              document.getElementById('button_share').style.visibility = 'visible';
            }
          })
          function share() {
            // ブラウザのShare機能が使える
            if (navigator.share) {
              navigator.share({ text: document.title, url: location.href });
            }
          }
        </script>
      </div>
    </header>

    <p>{{ .Content }}</p>

  </article>
</main>

{{ partial "footer.html" . }}
