body {
  margin: 0;
}

nav {
  margin: 16px 0;
}

img {
  max-width: 100%;
}

main {
  max-width: 800px;
  margin: auto;
}

blockquote {
  padding: 16px;
  background-color: #f3f3f3;
  border-radius: 4px;
}

.title-link {
  color: white;
  text-decoration: none;
}

.pagination {
  text-align: center;
}

.default-margin {
  margin: 16px;
}

.default-padding {
  padding: 16px;
}

