blockquote {
  font-size: small;
  padding: 16px;
  background-color: #f3f3f3;
  border-radius: 4px;
}

body {
  margin: 0;
}

code {
  padding: 4px;
  color: orangered;
}

th {
  background-color: #80808088;
}

tr {
  background-color: #80808010;
}

h1 {
  font-family: sans-serif;
}

h3.serif {
  font-family: sans-serif;
}

hr {
  width: 30%;
  border: 1px solid #bbb;
}

img {
  max-width: 100%;
}

main {
  max-width: 800px;
  margin: 16px auto;
}

nav {
  margin: 16px 0;
}

pre {
  overflow-x: auto;
  padding: 8px;
}

pre > code {
  padding: 0
}

.title-link {
  color: white;
  text-decoration: none;
}

.pagination {
  text-align: center;
}

.default-margin {
  margin: 16px;
}

.default-padding {
  padding: 16px;
}

.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

a.card-link {
  margin: 16px 0;
  display: block;
  text-decoration: none;
}
