blockquote {
  font-size: small;
  padding: 16px;
  background-color: #f3f3f3;
  border-radius: 4px;
}

body {
  margin: 0;
}

code {
  padding: 4px;
  color: orangered;
}

hr {
  width: 30%;
  border: 1px solid #bbb;
}

img {
  max-width: 100%;
}

main {
  max-width: 800px;
  margin: auto;
}

nav {
  margin: 16px 0;
}

pre {
  overflow-x: auto;
  padding: 8px;
}

pre > code {
  padding: 0
}

.title-link {
  color: white;
  text-decoration: none;
}

.pagination {
  text-align: center;
}

.default-margin {
  margin: 16px;
}

.default-padding {
  padding: 16px;
}

a.card-link {
  margin: 16px 0;
  display: block;
  text-decoration: none;
}
